body {
  text-align: center;
  background-color: lightgreen;
  margin: 0; /* Reset default margin */
  padding: 0; /* Reset default padding */
}
.App {
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
}

.Form {
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
}

.FormRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

label {
  flex: 1;
  text-align: right;
  margin-right: 10px;
}

input[type="text"],
input[type="radio"] {
  flex: 2;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="radio"] {
  margin-left: 5px;
}